@font-face {
	font-family: "Gilroy";
	src: url("./fonts/Gilroy-SemiBold.eot");
	src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("./fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-SemiBold.woff") format("woff"),
		url("./fonts/Gilroy-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("./fonts/Gilroy-Regular.eot");
	src: local("Gilroy Regular"), local("Gilroy-Regular"), url("./fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-Regular.woff") format("woff"),
		url("./fonts/Gilroy-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("./fonts/Gilroy-Bold.eot");
	src: local("Gilroy Bold"), local("Gilroy-Bold"), url("./fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-Bold.woff") format("woff"),
		url("./fonts/Gilroy-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Gilroy", sans-serif;
	font-size: 24px;
	line-height: 28px;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #000000;
	padding: 60px 20px;
}

main {
	max-width: 1280px;
	width: 100%;
}

.main__h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 54px;
	line-height: 65px;
	text-align: center;
	color: #4fbd74;
	margin: 0 0 30px 0;
}

.main__head-text {
	margin-bottom: 110px;
	text-align: center;
}

.main__head-text b {
	font-weight: 600;
}

.main__content-wrap {
	display: flex;
	justify-content: space-between;
}

.main__textwrap {
	max-width: 600px;
	width: 100%;
	margin-right: 30px;
}

.main__h2 {
	font-weight: bold;
	font-size: 28px;
	line-height: 34px;
	margin: 0 0 32px 0;
}

.main__parent {
	margin-bottom: 44px;
}

.main__parent:last-of-type {
	margin-bottom: 0;
}

.parent__h3 {
	font-weight: 600;
	font-size: 28px;
	line-height: 33px;
	margin: 0 0 8px 0;
}

.parent__text {
	margin: 0;
}

.main__parent-linc {
	position: relative;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	padding: 16px 50px 16px 0;
	margin-top: 76px;
}

.main__parent-linc::before {
	position: absolute;
	content: "";
	background-color: #4fbd74;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50vw;
	z-index: -1;
}

.slider-wrap {
	max-width: 600px;
	width: 100%;
}

.slider-for {
	margin-bottom: 8px;
}

.slider-for-item img {
	width: 100%;
	height: 410px;
	object-fit: cover;
}

.slider-nav-item img {
	height: 100px;
	width: 150px;
	margin-right: 8px;
	object-fit: cover;
}

.slider-wrap .slick-prev,
.slider-wrap .slick-next {
	width: 32px;
	height: 32px;
	background-color: #4fbd74;
	border-radius: 32px;
}

.slider-wrap .slick-prev:hover,
.slider-wrap .slick-next:hover,
.slider-wrap .slick-prev:focus,
.slider-wrap .slick-next:focus {
	background-color: #4fbd74;
}

.slider-wrap .slick-prev {
	left: -42px;
}

.slider-wrap .slick-next {
	right: -42px;
}

.slider-wrap .slick-prev:before,
.slider-wrap .slick-next:before {
	color: #ffffff;
	font-family: "Gilroy", sans-serif;
}

@media screen and (max-width: 1080px) {
	.main__content-wrap {
		flex-direction: column-reverse;
		justify-content: flex-start;
		align-items: center;
	}

	.main__textwrap {
		max-width: 100%;
		margin-right: 0;
	}

	.slider-wrap {
		margin-bottom: 66px;
	}
}

@media screen and (max-width: 768px) {
	.slider-wrap .slick-prev {
		left: 0;
		top: auto;
		bottom: -56px;
	}

	.slider-wrap .slick-next {
		right: 0;
		top: auto;
		bottom: -56px;
	}

	body {
		font-size: 16px;
		line-height: 1.5;
		padding: 30px 20px;
	}

	.main__h1 {
		font-size: 28px;
		line-height: 1.2;
		margin-bottom: 16px;
	}

	.main__head-text {
		margin-bottom: 40px;
	}

	.main__h2 {
		font-size: 22px;
		line-height: 1.2;
		margin-bottom: 16px;
	}

	.main__parent {
		margin-bottom: 16px;
	}

	.parent__h3 {
		font-size: 20px;
		line-height: 1.2;
	}

	.main__parent-linc {
		margin-top: 28px;
	}
}

@media screen and (max-width: 510px) {
	.slider-for-item img {
		height: 310px;
	}
}
