extends ../template

block variables
    - var title = 'Щенки'

block content
    main.color_w
        .content-w.parents
            h1.ducks__h1 Родители щенков являются чемпионами России и имеют дипломы разных степеней по луговой-дичи и иным дисциплинам
            
            .parents__item
                .parents__item-text-wrap
                    h2.parents__item-name Чесси Ида Гала
                    p.parents__item-p-1 Юный чемпион России, 2Д3 по б/д (два диплома третьей степени по болотно-луговой дичи)
                    p.parents__item-p-2 Юный чемпион России, 2Д3 по б/д (два диплома третьей степени по болотно луговой дичи). Юный чемпион России, 2Д3 по б/д (два диплома третьей степени по болотно-луговой дичи). Юный чемпион России, 2Д3 по б/д (два диплома третьей степени по болотно луговой луговой дичи). Чемпион России, 2Д3 по б/д (два диплома третьей степени по болотно луговой луговой дичи). Не юный чемпион России, 2Д3 по б/д (два диплома третьей степени по болотно луговой дичи).
                .parents__item-img
                    img(src="./assets/images/parents-1.jpg", alt="Чесси Ида Гала")
            .parents__item.parents__item_r
                .parents__item-text-wrap
                    h2.parents__item-name Ган Дель Истоминов
                    p.parents__item-p-1 Юный чемпион России, 2Д3 по б/д (два диплома третьей степени по болотно-луговой дичи)
                    p.parents__item-p-2 Юный чемпион России, 2Д3 по б/д (два диплома третьей степени по болотно луговой дичи). Юный чемпион России, 2Д3 по б/д (два диплома третьей степени по болотно-луговой дичи). Юный чемпион России, 2Д3 по б/д (два диплома третьей степени по болотно луговой луговой дичи). Чемпион России, 2Д3 по б/д (два диплома третьей степени по болотно луговой луговой дичи). Не юный чемпион России, 2Д3 по б/д (два диплома третьей степени по болотно луговой дичи).
                .parents__item-img
                    img(src="./assets/images/parents-1.jpg", alt="Чесси Ида Гала")

