extends ../template

block variables
    - var title = 'Щенки'

block content
    main.color_w
        .content-w.ducks
            h1.ducks__h1 7 оранжево-белых щенков породы Бретонский Эпаньоль с консолидацией кровей чемпионов

            .ducks__list
                .ducks__item
                    .ducks__item-text
                        span.ducks__item-text-name Ган Дель Истоминов
                        span.ducks__item-text-sex Мальчик
                        span.ducks__item-text-age 1 месяц
                        button(data-name='Ган Дель Истоминов' data-open-popup).button Подробнее
                    .ducks__item-img-wrap
                        img(src="./assets/images/ducks-list-01.jpg", alt="Ган Дель Истоминов").ducks__item-img
                .ducks__item
                    .ducks__item-text
                        span.ducks__item-text-name Ган Дель Истоминов
                        span.ducks__item-text-sex Мальчик
                        span.ducks__item-text-age 1 месяц
                        button(data-name='Ган Дель Истоминов' data-open-popup).button Подробнее
                    .ducks__item-img-wrap
                        img(src="./assets/images/ducks-list-01.jpg", alt="Ган Дель Истоминов").ducks__item-img
                .ducks__item
                    .ducks__item-text
                        span.ducks__item-text-name Ган Дель Истоминов
                        span.ducks__item-text-sex Мальчик
                        span.ducks__item-text-age 1 месяц
                        button(data-name='Ган Дель Истоминов' data-open-popup).button Подробнее
                    .ducks__item-img-wrap
                        img(src="./assets/images/ducks-list-01.jpg", alt="Ган Дель Истоминов").ducks__item-img
                .ducks__item
                    .ducks__item-text
                        span.ducks__item-text-name Ган Дель Истоминов
                        span.ducks__item-text-sex Мальчик
                        span.ducks__item-text-age 1 месяц
                        button(data-name='Ган Дель Истоминов' data-open-popup).button Подробнее
                    .ducks__item-img-wrap
                        img(src="./assets/images/ducks-list-01.jpg", alt="Ган Дель Истоминов").ducks__item-img
                .ducks__item
                    .ducks__item-text
                        span.ducks__item-text-name Ган Дель Истоминов
                        span.ducks__item-text-sex Мальчик
                        span.ducks__item-text-age 1 месяц
                        button(data-name='Ган Дель Истоминов' data-open-popup).button Подробнее
                    .ducks__item-img-wrap
                        img(src="./assets/images/ducks-list-01.jpg", alt="Ган Дель Истоминов").ducks__item-img



