:root {
	// Размеры
	--content-max-weight: 1240px;
}

// Цвета
$color-black: #000000;
$color-white: #ffffff;
$color-green: #4fbd74;

// Шрифты
$font-Gilroy: "Gilroy", sans-serif;

// Анимация
@mixin transition($property: all) {
	transition: 150ms ease-in-out 0ms;
	transition-property: $property;
}

@import "./common/fonts.scss";

* {
	box-sizing: border-box;
	outline-offset: 4px;
}

// https://github.com/WICG/focus-visible
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

body {
	margin: 0;
	padding: 0;
	color: $color-black;
	background-color: $color-black;
	font-family: $font-Gilroy;
}

p {
	margin: 0;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

main,
.header,
.footer {
	display: flex;
	flex-direction: column;
	line-height: 1.3;
	align-items: center;
}

.color_w {
	background-color: $color-white;
}

.header {
	background-color: $color-green;
}

.button {
	display: flex;
	height: 38px;
	padding: 0 20px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: $color-white;
	border: 0;
	border-radius: 0;
	background-color: $color-green;
	font-family: $font-Gilroy;
	font-size: 18px;
	font-weight: bold;
	line-height: 80%;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: darken($color-green, 4);
	}
}

.input {
	display: flex;
	flex-direction: column;

	span {
		margin-bottom: 8px;
		font-size: 16px;
		font-weight: 500;
	}

	.input__required::after {
		content: " *";
		color: #c70000;
	}

	input {
		box-sizing: content-box;

		padding: 12px 16px;
		border: 0;
		border: 1px solid #f8f9fb;
		background-color: #f8f9fb;
		font-family: $font-Gilroy;
		font-size: 16px;

		&::placeholder {
			color: rgba(0, 0, 0, 0.5);
		}

		&:focus {
			border-color: $color-black;
			outline: none;
		}
	}
}

.content-w {
	width: 100%;
	max-width: 1288px;
}

.main-menu {
	position: relative;
	display: flex;
	padding: 16px 0;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: block;
}

.main-menu__tel {
	color: $color-white;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
}

.main-menu__menu-list {
	display: grid;
	margin: 0;
	padding: 0;
	list-style: none;
	grid-gap: 44px;
	grid-auto-flow: column;
}

.main-menu__menu-linc {
	text-decoration: none;
	color: $color-white;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
}

.main-menu__menu-linc_active {
	color: $color-black;
}

.main-menu__menu-linc:hover {
	text-decoration: underline;
}

.main {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1440px;
	align-items: center;
}

.main__img {
	width: 100%;
	height: auto;
}

.main__text-wrap {
	position: absolute;
	top: 0;
	// right: 0;
	bottom: 0;
	// left: 0;
	width: 100%;
	max-width: 1288px;
}

.main__text {
	position: absolute;
	bottom: 15%;
	left: 0;
	width: 100%;
	max-width: 660px;
	padding: 24px 24px 24px 0;
	font-size: 20px;
	font-weight: 500;
	line-height: 150%;

	.main__text-bold {
		font-weight: 600;
	}

	.button {
		margin-top: 24px;
	}

	p,
	button {
		position: relative;
		z-index: 2;
	}

	&::after {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100vw;
		content: "";
		background: rgba(255, 255, 255, 0.6);
	}
}

.footer {
	height: 64px;
	background-color: $color-black;
}

.contact {
	display: flex;
	height: 100%;
	color: $color-white;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	justify-content: space-between;
	align-items: center;

	a {
		color: $color-white;
	}
}

.ducks__h1 {
	margin: 100px 0;
	font-size: 54px;
	font-weight: bold;
	line-height: 1.2;
}

.ducks__list {
	display: grid;
	width: 100%;
	margin-bottom: 200px;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 24px;
}

.ducks__item {
	display: flex;
	padding: 28px;
	background-color: $color-white;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
	align-items: center;
	justify-content: space-between;
}

.ducks__item-text {
	display: flex;
	flex-direction: column;
	width: 170px;
	margin-right: 50px;
	flex-shrink: 0;
}

.ducks__item-text-name {
	margin-bottom: 20px;
	letter-spacing: 0.01em;
	font-size: 28px;
	font-weight: bold;
	line-height: 1.3;
}

.ducks__item-text-sex,
.ducks__item-text-age {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
}

.ducks__item-text-sex {
	margin-bottom: 12px;
}

.ducks__item-text-age {
	margin-bottom: 28px;
}

.ducks__item-img-wrap {
	height: 270px;
}

.ducks__item-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.parents__item {
	display: flex;
	width: 100%;
	margin-bottom: 150px;
	justify-content: space-between;
	align-items: stretch;
}

.parents__item-text-wrap {
	width: 100%;
	max-width: 400px;
	margin-right: 40px;
}

.parents__item-name {
	margin: 0 0 24px 0;
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2;
}

.parents__item-p-1 {
	margin: 0 0 32px 0;
	font-size: 24px;
	font-weight: normal;
}

.parents__item-p-2 {
	font-size: 16px;
}

.parents__item-img {
	position: relative;

	img {
		position: relative;
		z-index: 2;
		display: block;
		width: 100%;
		max-width: 720px;
		height: 100%;
		max-height: 500px;
		object-fit: cover;
	}

	&::after {
		position: absolute;
		z-index: 1;
		bottom: -24px;
		left: -36px;
		width: 100%;
		height: 80%;
		content: "";
		background-color: $color-green;
	}
}

.parents__item_r {
	flex-direction: row-reverse;

	.parents__item-text-wrap {
		margin-right: 0;
		margin-left: 40px;
	}

	.parents__item-img::after {
		right: -36px;
		left: auto;
	}
}

.contacts {
	display: flex;
	width: 100%;
	max-width: 1440px;
	padding-left: 76px;
}

.contacts__img {
	width: 100%;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.contacts__text-wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 440px;
	margin: 100px 30px 100px 0;
	align-items: flex-start;
}

.contacts__text-h {
	margin-bottom: 80px;
}

.contacts__text-name {
	margin-bottom: 28px;
	font-size: 24px;
	font-weight: 500;
}

.contacts__text-licn {
	margin-bottom: 28px;
	color: $color-black;
	font-size: 24px;
	font-weight: 600;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.contacts__text-button {
	margin-top: 52px;
}

.popup__wrap {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	overflow-x: auto;
}

.popup__wrap-active {
	display: block;
}

.popup__close-area {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: transparentize($color-black, 0.7);
}

.popup {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	display: flex;
	width: 100%;
	max-width: 600px;
	height: 100%;
	min-height: max-content;
	max-height: 520px;
	padding: 20px;
	transform: translate(-50%, -50%);
	background-color: $color-white;
	align-items: center;
	justify-content: center;
}

.popup__close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	background-color: $color-white;
	background-image: url("../images/close.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.popup__content {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 400px;
	flex-shrink: 0;
}

.popup__h {
	margin: 0 0 50px 0;
	text-align: center;
	font-size: 32px;
	font-weight: 600;
}

.popup__input {
	margin-bottom: 24px;
}

.button.popup__button {
	margin-bottom: 8px;
}

.popup__text {
	font-size: 14px;
	line-height: 140%;
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1280px) {
	.content-w,
	.contact,
	.main-menu {
		padding-right: 20px;
		padding-left: 20px;
	}

	.main__text {
		padding-left: 20px;
	}

	.ducks__item-text {
		margin-right: 20px;
	}

	.parents__item_r .parents__item-img::after {
		right: -20px;
	}

	.parents__item-img::after {
		left: -20px;
	}

	.contacts {
		padding-left: 20px;
	}

	.main__img {
		width: 100vw;
	}
}

@media screen and (max-width: 960px) {
	.main__text {
		bottom: 0;
	}
}

@media screen and (max-width: 768px) {
	.main-menu {
		padding-top: 18px;
		padding-bottom: 18px;
	}

	.main-menu__menu-list {
		grid-gap: 16px;
	}

	.main-menu__menu-linc {
		font-size: 16px;
	}

	.main-menu__tel {
		font-size: 16px;
	}

	.main__text-wrap {
		position: static;
	}

	.main__text {
		position: relative;
		max-width: 100%;
		padding-right: 0;
		padding-left: 0;

		&::after {
			right: -20px;
			background-color: $color-white;
		}
	}

	.contact {
		display: grid;
		margin: 20px 0;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
	}

	.ducks__h1 {
		margin: 30px 0;
		font-size: 28px;
	}

	.ducks__list {
		margin-bottom: 60px;
		grid-template-columns: 1fr;
	}

	.parents__item {
		flex-direction: column-reverse;
		margin-bottom: 60px;
	}

	.parents__item-img {
		margin-bottom: 40px;
	}

	.parents__item-text-wrap {
		max-width: 100%;
		margin: 0;
	}

	.parents__item_r .parents__item-text-wrap {
		margin: 0;
	}

	.contacts {
		flex-direction: column-reverse;
		padding: 0;
	}

	.contacts__img {
		height: 300px;
	}

	.contacts__text-wrap {
		max-width: 100%;
		margin: 30px 0 60px 0;
		padding: 0 20px;
	}

	.parents__item-name {
		font-size: 28px;
	}

	.parents__item-p-1 {
		font-size: 18px;
	}
}

@media screen and (max-width: 540px) {
	.main-menu {
		flex-direction: column;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.main-menu__menu-wrap {
		margin-bottom: 12px;
	}
}

@media screen and (max-width: 440px) {
	.ducks__item {
		flex-direction: column-reverse;
		padding: 0;
	}

	.ducks__item-text {
		width: 100%;
		margin: 0;
		padding: 20px;
	}
}
