:root {
	// Размеры
	--content-max-weight: 1240px;
}

// Цвета
$color-black: #000000;
$color-white: #ffffff;
$color-green: #4fbd74;

// Шрифты
$font-Gilroy: "Gilroy", sans-serif;

// Анимация
@mixin transition($property: all) {
	transition: 150ms ease-in-out 0ms;
	transition-property: $property;
}

@import "./common/fonts.scss";

* {
	box-sizing: border-box;
	outline-offset: 4px;
	color: white;
}

// https://github.com/WICG/focus-visible
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

body {
	padding: 0;
	margin: 0;
	font-family: $font-Gilroy;
}

.main,
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer {
	background-color: $color-green;
}

.content-w {
	width: 100%;
	max-width: 1288px;
}

.main-menu {
	padding: 28px 0;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	position: absolute;
	left: 0;
	display: block;
}

.main-menu__menu-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-gap: 44px;
	grid-auto-flow: column;
}

.main-menu__menu-linc {
	color: $color-white;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-decoration: none;
}

.main-menu__menu-linc_active {
	color: $color-black;
}

.main-menu__menu-linc:hover {
	text-decoration: underline;
}

// @import "./pages/calculator.scss";

// @media screen and (max-width: 1344px) {

// }

// @media screen and (max-width: 960px) {

// }

// @media screen and (max-width: 768px) {

// }
