footer.footer
    .content-w.contact
        span По всем вопросам:
        span Алена Храпкова
        a(href="tel:+79110076164") +7 911 007 61 64
        a(href="mailto:infoinfo@infoinfo.ru") infoinfo@infoinfo.ru